main {
  .tituloMedios {
    font-size: 2.5rem;
    text-align: center;
  }

  .mapaEjemplo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 15rem;
  }

  .horariosTitulo {
    font-size: 1.5rem;
    text-align: center;
    width: 50%;
    border: solid 1.5px black;
    padding: 40px;
    background: rgb(222, 184, 135);
    background: linear-gradient(
      86deg,
      rgba(222, 184, 135, 1) 17%,
      rgba(210, 130, 39, 1) 100%,
      rgba(134, 78, 0, 1) 100%,
      rgba(94, 67, 8, 1) 100%,
      rgba(88, 65, 9, 1) 100%
    );
  }
}
