.header {
  background: rgb(222, 184, 135);
  background: linear-gradient(
    90deg,
    rgba(222, 184, 135, 1) 18%,
    rgba(210, 130, 39, 1) 46%,
    rgba(134, 78, 0, 1) 81%,
    rgba(88, 65, 9, 1) 100%
  );
  padding: 30px;

  nav {
    .titulo {
      font-family: Georgia, "Times New Roman", Times, serif;
      color: black;
      font-size: 3.5rem;
    }

    .navbarList {
      display: flex;
      justify-content: end;
      gap: 30px;
      font-size: 1.3rem;

      .navbarItem {
        border: solid 1.5px black;
        border-radius: 10px;
        padding: 5px;

        &:hover {
          font-size: 1.4rem;
          background-color: rgba(239, 135, 0, 0.918);
          transition: all 1s;
        }
      }
    }
  }
}
