main {
  .tituloMedios {
    font-size: 2.5rem;
    text-align: center;
  }

  .seccionMedios {
    display: flex;
    align-items: center;

    .textoMedios {
      font-size: 1.6rem;
      width: 30%;
      text-align: center;
      display: flex;
      border: solid 1px black;
      border-radius: 25px;
      padding: 35px;
      background: rgb(222, 184, 135);
      background: linear-gradient(
        86deg,
        rgba(222, 184, 135, 1) 17%,
        rgba(210, 130, 39, 1) 100%,
        rgba(134, 78, 0, 1) 100%,
        rgba(94, 67, 8, 1) 100%,
        rgba(88, 65, 9, 1) 100%
      );
    }
  }
}
